DATABASE_URL=neon connect
DATABASE_URL=postgresql://neondb_owner:npg_67qtrHoLDUAT@ep-twilight-bird-aopb2gkb-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=Kq4OLjdZ4n4iQC8Z7ZfJrrzfWdb3EQ0G